td,th{
    border: 1px solid rgb(12, 12, 36);
    text-align: center;
    background-color: gray;
}
th.addr,td.addr{
    width: 300px;
}
th.phone,td.phone{
    width: 200px;
}
td.custno{
    color: white;
}
th.reg_date,td.reg_date{
    width: 120px;
}
table{
    margin: auto;
}